name: ci/cd        # workflow name

on:
  push:
    branches:
      - main
      - branch-*
jobs:
  
  sonar:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{secrets.GIT_SECRET}}
          SONAR_TOKEN: ${{secrets.SONAR_SECRET}}
  
  #snyk:
   # permissions:
    #  contents: read # for actions/checkout to fetch code
     # security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      #actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status 
    #runs-on: ubuntu-latest
    #steps:
    #- uses: actions/checkout@v3
    #- name: Build a Docker image
    #  run: docker build --file Dockerfile --tag vulnapp .
    #- name: Run Snyk to check Docker image for vulnerabilities
      # Snyk can be used to break the build when it detects vulnerabilities.
      # In this case we want to upload the issues to GitHub Code Scanning
     # continue-on-error: true
      #uses: snyk/actions/docker@14818c4695ecc4045f33c9cee9e795a788711ca4
      #env:
        # In order to use the Snyk Action you will need to have a Snyk API token.
        # More details in https://github.com/snyk/actions#getting-your-snyk-token
        # or you can signup for free at https://snyk.io/login
       # SNYK_TOKEN: ${{secrets.SNYK_SECRET}}
      #with:
       # image: vulnapp
        #args: --file=Dockerfile
    #- name: Upload result to GitHub Code Scanning
     # uses: github/codeql-action/upload-sarif@v2
      #with:
       # sarif_file: snyk.sarif
      
  
  #deploy-heroku:
   # name: Deploy Heroku
    #runs-on: ubuntu-latest
    #needs: [sonar, snyk]
    #steps:
     # - uses: actions/checkout@v2
      #- uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
       # with:
        #  heroku_api_key: ${{secrets.HEROKU_SECRET}}
         # heroku_app_name: "tpaciulli-vulnerableapp" #Must be unique in Heroku
          #heroku_email: "paciullitomas@gmail.com"
          #remote_branch: "master"
          #usedocker: true

  #ap_scan:
   # runs-on: ubuntu-latest
    #needs: [deploy-heroku]
    #name: Scan ZAP website
    #steps:
     # - uses: actions/checkout@v2
      #- name: ZAP Scan
       # uses: zaproxy/action-baseline@v0.7.0
        #with:
         # target: 'https://tpaciulli-vulnerableapp.herokuapp.com/'
